.skillBlock {
    border: 1px solid #dad0e1;
    border-radius: 10px;
    box-shadow: 5px 8px 110px rgba(14, 19, 232, 0.10);
    width: 110px;
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    /*background: #f1e9ca;*/
    background: linear-gradient(0deg,#bbb6b6,#f3efef,#f5ecec);
    /*background: linear-gradient(0deg,#a7a4a4,#dadada,#dfdfdf);*/
    border-radius: 10px;
}

.item h3 {
    margin-top: 10px;
}

.skillBlock img {
    height: 50px;
}