.titleStyle {
    position: relative;
    color: var(--color-heading);
}

.titleStyle::before {
    content: "";
    position: absolute;
    background: var(--color-accent);
    width: 55px;
    height: 2px;
    left: 50%;
    bottom: -2px;
    border-radius: 10px;
    transform: translate(-50%, 50%);
}

@media (max-width: 500px) {
    .titleStyle {
        display: none;
    }
}

@media (max-width: 600px) {
    .titleStyle {
        font-size: 12px;
    }
}