@import './sass/variables';

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: $border;
    border-radius: 10px;
    box-shadow: $boxShadowBlock;
    background-color: #f1e9ca;
    margin-bottom: 20px;
}
