@import '../../common/styles/sass/variables';

.mainBlock {
  justify-content: space-around;
  text-align: center;
  //height: 500px;
  width: 40%;
  margin-top: 15px;
  padding: 20px 0;
  color: var(--color-paragraph);
  .bioLink {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    height: 100%;
    gap: 10px;
    border-top: 1px solid var(--color-border);
    padding-top: 20px;
    //padding-left: 20px;
    .bioItem {
      display: flex;
      align-items: center;
      gap: 20px;
      & a {
        height: 40px;
        width: 40px;
        background-color: var(--color-accent);
        border: 1px solid var(--color-border);
        border-radius: 10px;
        box-shadow: var(--box-shadow-80);
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    //height: 100%;
    //width: 80%;
    @media (max-width: 700px) {
      flex-direction: column;
    }

    .text {
      color: var(--color-heading);

      & h4 {
        margin-top: 10px;
        border-radius: 15px;
        //border: 1px solid var(--color-border);
        box-shadow: var(--box-shadow-80);
        background: var(--color-gradient-gray);
        padding: 10px 15px;
      }
    }

    .photo {
      border: var(--color-border);
      border-radius: var(--radius-32);
      background: var(--color-gradient-gray);
      height: 200px;
      width: 200px;
      margin-bottom: 20px;

      & img {
        margin-top: 23px;
        height: 150px;
      }
    }
  }
}

//.container {
//    display: flex;
//    justify-content: space-evenly;
//    align-items: center;
//    height: 100%;
//    width: 80%;
//}

//.text {
//    border: 1px solid #dad0e1;
//    border-radius: 15px;
//    box-shadow: 5px 20px 70px rgba(14, 19, 232, 0.2);
//    padding: 5px;
//}

//.photo {
//
//}
//
//.photo img {
//    height: 200px;
//}

//@media (max-width: 700px) {
//    .container {
//        flex-direction: column;
//    }
//
//}