@import '../../common/styles/sass/variables';

.mainBlock {
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
  padding: 20px 0;
  color: var(--color-paragraph);
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 25px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .photo {
      border: var(--color-border);
      border-radius: var(--radius-32);
      background: var(--color-gradient-gray);
      height: 185px;
      width: 185px;
      & img {
        margin-top: 17px;
        height: 150px;
      }
    }
  }
  .text {
    color: var(--color-heading);
    & h4 {
      margin-top: 10px;
      border-radius: var(--radius-12);
      font-weight: 500;
      line-height: 100%;
      font-size: 18px;
      box-shadow: var(--box-shadow-80);
      background: var(--color-gradient-gray);
      padding: 8px 15px;
    }
  }
  .bioLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 10px;
    @media (max-width: 600px) {
      display: none;
    }
    .bioItem {
      display: flex;
      align-items: center;
      gap: 20px;
      & img {
        height: 40px;
        width: 40px;
      }
      & a {
        text-decoration: none;
        color: var(--color-paragraph);;
      }
    }
  }


}

