.inputMain {
  display: flex;
  width: 50%;
}

.superInput {
  width: 100%;
  margin: 5px 0;
  padding: 15px 22px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 14px;
}

.superInput:focus {
  background-color: var(--color-surface-1);
  box-shadow: 0 0 10px #9f9f9f;
  outline: none;
}

.errorInput {
  border: 2px solid red;
}

.error {
  color: red;
}
