.aboutMain {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.aboutTitle {
  margin-top: -42px;
  margin-left: 27px;
  margin-bottom: 27px;
}

.aboutContent {
  min-height: 300px;
  color: var(--color-paragraph);
}