.aboutMain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}

.aboutTitle {
  margin-top: -36px;
  margin-left: 43px;
  margin-bottom: 8px;
}

.aboutContent {
  margin: 0 auto;
  padding: 20px;
  min-height: 150px;
  color: var(--color-paragraph);
}

.ulList li {
  padding-bottom: 5px;
}
li::marker {
  color: var(--color-accent);
  font-size: 18px;
}

.aboutContent h3 {
  max-width: 650px;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.blockLinks {
  width: 100%;
  margin-top: 15px;
  display: inline-flex;

  .link {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 0;
    padding: 8px 20px;
    width: 100%;
    color: var(--color-heading);
    @media (max-width: 480px) {
      font-size: 14px;
      width: 80%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      z-index: -1;
      width: 30%;
      height: 5px;
      border-radius: 10px;
      background: var(--color-accent);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      color: var(--color-heading);

      &::after {
        width: 50%;
        height: 110%;
        transition: all 0.3s ease-in-out 0s;
        @media (max-width: 480px) {
          width: 70%;
        }
      }
    }
  }
}

