@import '../../../common/styles/sass/variables';

.projectBlock {
    border: $border;
    border-radius: 10px;
    box-shadow: $boxShadowBlock;
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    .urlProjectContent {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 150px;
        background-size: cover;
        margin-bottom: 10px;
        border-radius: 10px;
        position: relative;
        &::before {
            position: absolute;
            opacity: 0.2;
            border-radius: 10px;
            content: '';
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .viewBtn {
            background-color: #a793b4;
            border-radius: 15px;
            padding: 5px 15px;;
            text-decoration: none;
            position: relative;
        }
    }
    .projectBlock h2 {
        margin-bottom: 10px;
    }
}



