.projectBlock {
    border: 1px solid #dad0e1;
    border-radius: 10px;
    box-shadow: 5px 20px 70px rgba(14, 19, 232, 0.2);
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.projectBlock h2 {
    margin-bottom: 10px;
}

.urlProjectContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}