.mainHeader {
    height: 60px;
    /*margin-top: 5px;*/
    width: 97%;
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    max-width: 800px;
    z-index: 100;
    border-radius: 10px 10px 0 0;
}
