@import '../../common/styles/sass/variables';

.footerContainer {
  height: 200px;
  margin-bottom: 100px;

  .footerItems {
    flex-direction: column;
    @media (max-width: 600px) {
      .title {
        display: block;
        font-size: initial;
      }
    }

    .title::before {
      width: 50px;
      bottom: -2px;
    }

    .bioLink {
      display: flex;
      width: 70%;
      justify-content: space-around;
      align-items: center;
      height: 50px;
      //border: $border;
      //border-radius: 10px;
      a {
        height: 40px;
        width: 40px;
        //background-color: #c4a4e3;
        background-size: cover;
        //border: $border;
        //border-radius: 10px;
      }
    }
  }
}
