@import '../../common/styles/sass/variables';

.footerContainer {
    height: 200px;
    margin-bottom: 100px;
    .footerItems {
        flex-direction: column;
        .title::before {
            width: 120px;
            bottom: -2px;
        }
        .bioLink {
            display: flex;
            width: 70%;
            justify-content: space-around;
            align-items: center;
            height: 50px;
            border: $border;
            border-radius: 10px;
            box-shadow: $boxShadowBlock;
            a {
                height: 40px;
                width: 40px;
                //background-color: #c4a4e3;
                background-size: cover;
                border: $border;
                border-radius: 10px;
                box-shadow: $boxShadowBlock;
            }
        }
    }
}


//.footerContainer {
//    height: 200px;
//    margin-bottom: 100px;
//}
//.footerItems {
//    flex-direction: column;
//}
//
//.footerItems .title::before {
//    width: 120px;
//    bottom: -2px;
//}
//
//.bioLink {
//    display: flex;
//    width: 70%;
//    justify-content: space-around;
//    align-items: center;
//    height: 50px;
//    border: 1px solid #dad0e1;
//    border-radius: 10px;
//    box-shadow: 5px 20px 70px rgba(14, 19, 232, 0.2);
//}
//
//.bioLink a {
//    height: 40px;
//    width: 40px;
//    background-color: #c4a4e3;
//    border: 1px solid #dad0e1;
//    border-radius: 10px;
//    box-shadow: 5px 20px 70px rgba(14, 19, 232, 0.2);
//}
