.contractorContainer {
    height: 100px;
}

.contractorItem {
    width: 90%;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 7px;
}

.title::before {
    width: 152px;
    bottom: -4px;
}

.contractorItem button {
    padding: 3px 10px;
    border-radius: 7px;
}