@mixin flex($justifyContent, $alignItems, $direction: row) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

@mixin item($justifyContent: flex-start, $alignItems: stretch, $direction: row) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
  flex-wrap: wrap;
  border-radius: 10px;
  height: 90%;
  width: 100%;
}