.contactsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.contactsItem {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 15px;

}
.inputBlock {
    display: flex;
    width: 100%;
}

.title::before {
    width: 75px;
    bottom: -1px;
}

.contactsItem form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactsItem input {
    margin-bottom: 10px;
}

.contactsItem button {
    padding: 3px 10px;
    border-radius: 7px;
}