.contactsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.blockTextArea {
  min-height: 216px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.textArea {
  border-radius: 14px;
  margin-bottom: 10px;
  padding: 10px 0 0 12px;
  resize: none;
  background-color: transparent;
  border: 1px solid var(--color-border);
}

textarea:focus {
  outline: none !important;
  border-color: transparent;
  box-shadow: 0 0 10px #545454;
}

input::placeholder, textarea::placeholder {
  color: #6b6b6b;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

input, textarea {
  font-size: 18px;
  color: var(--color-paragraph)
}

.contactsItem {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 15px;
}

.errorMessage {
  color: #ce0f0f;
  margin-left: 10px;
  text-align: center;
}

.inputBlock {
  height: 88px;
  display: flex;
  gap: 35px;
  margin-bottom: 10px;
}

.itemInputBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
}

.buttonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.title {
  margin-bottom: 15px;
  margin-left: 33px;
  margin-top: -28px;
}

.title::before {
  width: 75px;
  bottom: -1px;
}

.contactsItem form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contactsItem input {
  margin-bottom: 10px;
}

.infoDiv {
  text-align: center;
  padding: 10px;
  border-radius: 16px;
  color: white;
  background-color: #5d5c5c;
  width: 100%;
  height: 100%;
}

