.mainNav {
    width: 300px;
    flex-direction: row;
    margin: 0 auto;
    /*position: fixed;*/
    /*bottom: 0;*/
}
.mainNav a {
    text-decoration: none;
    /*font-family: 'Ubuntu', sans-serif;*/
}

